---
interface BreadcrumbItem {
    name: string;
    url?: string;
}

interface Props {
    items: BreadcrumbItem[];
}

const { items } = Astro.props;
---

<nav class="text-sm md:text-base" aria-label="Breadcrumb">
    <ol class="flex flex-wrap items-center gap-x-2 gap-y-1">
        {items.map((item, index) => (
                <li class="flex items-center" key={index}>
                    {item.url && index !== items.length - 1 ? (
                            <a href={item.url} class="text-brand-700 font-normal">
                                {item.name}
                            </a>
                    ) : (
                            <span class="text-brand-700 text-opacity-60">
                        {item.name}
                    </span>
                    )}

                    {index !== items.length - 1 && (
                            <svg
                                    class="w-3 h-3 mx-2 text-brand-400 flex-shrink-0"
                                    viewBox="0 0 12 12"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                        d="M4.125 2.25L7.875 6L4.125 9.75"
                                        stroke="#053F47"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                />
                            </svg>
                    )}
                </li>
        ))}
    </ol>
</nav>